* {
    box-sizing: border-box;
}

.interior { position: absolute;
     width:100px; 
     height:100px;
    background-color: blue;
    border:5px solid white;}
.div1{left: 0px;
    top: 0px;
    background-color:red;}
.div2{left: 50px;
    top: 50px; 
background-color: orange;}
.div3{left: 100px;
    top: 100px;
    background-color: yellow;
    }
.div4{top: 150px;
    left: 150px;
    background-color: blue;}
.div5 {background-color:plum;
    left: 200px;
    top: 200px;
   
}